* {margin:0;padding:0;}

body {
	font-family: 'Roboto Condensed', sans-serif;
	overflow-x:hidden;
	overflow-y: auto;

	background-image: url('images/background.png');
	background-position: 0px 0px;

	/*WARNING! ANIMATING THE BG CAUSES PERFORMANCE ISSUES*/
	/*animation-name: scroll;
	animation-duration: 7.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;*/
	/*LEAVE IT ALONE FOR NOW*/
}

@keyframes scroll {
	from{background-position: 0px 0px;}
	to{background-position: 256px 0px;}
}

#navigation {
	background-color: lightgrey;

	left:0; top:0; bottom:0;

	padding:8px;

	position: relative;
	bottom: auto;
	right: 0;
	width: 100%;
	height: auto;
}

h1 {
	font-size: 64px;
}

#navigation a {
	display: block;
}

a {
	font-size: 32px;
	text-decoration: none;

	color:black;
	background-color: darkgrey;

	margin:16px;
	padding:4px;

	box-shadow: 0px 8px black;
	position: relative;

	top:0px;

	transition:0.1s;
}

a:hover {

	box-shadow: 8px 16px black;
	top: -8px;
	transition: 0.15s;

	cursor:pointer;
}

a:active {
	box-shadow: 0px 0px black;
	top: 8px;
	transition: 0.05s;
}

/*Add highlight to current page*/
 a.active {
	background-color: white;
}


.main {
	margin: 32px;
	font-size: 26px;
}

/* Art Page Specific stuff */
#tagcontainer {
	width:95%;

	padding:16px;

	background-color: lightgrey;
	transform: scale(1,1);
	transition: .2s;
}

#tagcontainer.hidden {
	max-height: 0;
	transform: scale(1,0);
	transition: .2s;
}

.tagbutton {
	background-color: lightgrey;
	border: 2px solid darkgrey;
	color:black;

	font-size: 16px;

	padding: 2px;
	margin: 4px;

	transition: .1s;
}

.tagbutton:hover {
	background-color: darkgrey;
	border:2px solid lightgrey;
	color:white;

	cursor:pointer;

	transition: .1s;
}

.tagbutton.selected{
	background-color: darkgrey;
	border:4px solid white;
	color:white;

	transition: .1s;
}


#artcontainer {
	width: 100%;
	padding:16px;
	display: flex;
	flex-wrap: wrap;
}

.artwrapper {
	max-width: 100%;
	width: 22.5vmax;
	margin:8px;
}

.artwrapper img {
	width:100%;
	border: 2px solid black;
}

#fullscreen {
	position: fixed;
	left:0; right:0; top:0; bottom:0;
	background-color: rgb(0,0,0,0.75);
	z-index: 1000;
}

#fullscreen img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 75%;
	max-width: 90%;
}

#fullscreen div {
	color:white;
	text-align: center;
	font-size: 32px;
	margin-top: 32px;
}

/*Game list*/
.gamecontainer {
	background-size: auto 100%;
	/*Background gradient*/
	background: linear-gradient(to right,lightgrey 65%,transparent 100%), url('images/screenshots/toast.png') right no-repeat;

	width:95%;
	padding: 16px;
	padding-bottom: 24px;
	margin: 16px 0px 16px 0px;

	border-radius: 32px;

	font-size:24px;

	box-shadow: 0px 8px darkgrey;
}

.gamecontainer a {
	position: relative;
	display: inline-block;
	border-radius: 16px;
	padding-left:16px;
	padding-right: 16px;
	margin:12px;
}

.gamecontainer hr {
	margin:16px 0px 16px 0px;
}

.icon {
	max-height: 1em;
	width: 1em;
	position: relative;
	top: 50%;
	transform: translateY(20%);
}

/*Wrappers for different link buttons*/
.itch-wrapper {
	background-color: #fa5c5c;
}
.gplay-wrapper {
	background-color: black; 
	color: white;
	border:2px solid white;
}
.steam-wrapper {
	background-image: linear-gradient(to top,#0b86b7,#08172a); 
	color: white;
}

/*404 page*/
.centered {
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;

	text-align:center;
	font-size: 32px;
}
.hugetext {
	font-size: 60vmin;
	font-weight: bold;

	color:darkgrey;
	text-shadow: 16px 16px black;
}

.otheritem {
	font-size: 24px;
	padding-bottom: 24px;
}

.otheritem a {
	position: relative;
	display: inline-block;
	border-radius: 16px;
	padding-left:16px;
	padding-right: 16px;
	margin:12px;
}

/*Links*/
.links a {
	display: inline-block;
	margin:16px;
	padding: 16px;
	border-radius:32px;
	font-size: 64px;
}

/*Media Querey for Desktop*/
@media only screen and (min-width: 768px) {
	#navigation {
		position:fixed;
		height: 100%;
		width:350px;
		right: auto;
	}
	.main {
		margin-left: 400px;
	}
	.bio {
		margin-right: 400px;
	}
}