.card-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;

justify-content: space-evenly;
align-items: flex-start;
align-content: flex-start;
}
.art {
max-width: 220px;
transform:scale(1);
transition: 0.1s;
border: 1px solid black;
padding: 0;
margin: 4px;
}
.art:hover {
transform:scale(1.1);
cursor:pointer;
transition: 0.1s;
}

.tag-block {
border-radius: 4px;
padding: 8px;
margin: 4px;
line-height: 1.5;
font-size: 1.1em;
background-color: rgb(189, 189, 189);
}

.tag-selector {
background-color: rgb(158, 158, 158);
display: inline-block;
padding: 6px;
border-radius: 8px;
cursor: pointer;
color:black;
margin-top: 8px;
margin-bottom: 8px;
user-select: none;
transition: 0.1s;
}

.tag-selector:hover {
background-color: rgb(134, 134, 134);
transition: 0.1s;
}

.tag-selector.active {
background-color: rgb(117, 63, 156);
color: white;
transition: 0.1s;
}

.tag-selector.active:hover {
background-color: rgb(142, 87, 182);
transition: 0.1s;
}

#lightbox {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;


	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow:auto;
	text-align: center;
	background-color:rgba(0, 0, 0, 0.5);
	color:white;
	text-shadow: black 2px 2px 2px;
}

#lightbox-caption {
	background-color: rgb(0,0,0, 0.7);
	padding: 8px;
	box-shadow: none;
}
#lightbox img {

	object-fit: contain;

	width: 75%;

	max-width: 75%;
	max-height: 75%;

	padding: 0;
	box-shadow:0 0 25px rgb(0, 0, 0);
}