@import "highlighter.css";

/* Univeral stuff */
* {
  box-sizing: border-box;
}

:root {
  --text-color: rgb(20, 20, 20);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-image: url('../img/bg.png');
  background-attachment: fixed;
  background-size: 256px;

  font-family: 'Alatsi';
  color: var(--text-color);
}

/* The column in the middle that holds everything */
#main {
  height: 100%;
  width: 100%;
  max-width: min(750px, 90vw);

  margin: 0 auto 32px auto;
}

/* Header stuff */
#header {
  background: white;
  box-shadow: 0 0 8px 0px black;
  border-radius: 64em 8em 8em 64em;

  width: 100%;
  
  height: 128px;
  max-height: 128px;
  margin-top: 24px;
  margin-left: -16px;

  position: relative;
  z-index: 10;
}
#header td {padding: 0;}

/* Icon */
#header .icon {
  border-radius: 100%;
  box-shadow: inset 0 0 128px 128px black;

  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 12px;

  transform: scale(1);
  transition: transform 0.1s ease-out;
}

#header .icon:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-out;
}

#header .icon:active {
  transform: scale(0.9);
  transition: 0.05s;
}

/* Header title/splash */
.name {
  display: inline-block;
  position: relative;
  margin-left: 128px;
  height: 100%;
}
#name-title {
  font-size: 2em;
}
#name-subtitle {
  font-size: 1.5em;
}
#splash {
  font-size: 1em;
  color: rgb(133, 133, 133);
  text-overflow: unset;
  cursor: pointer;
}
#splash:hover {
  text-decoration: underline;
}

/* Normal Links */
a {
  color: rgb(117, 11, 255);
  text-decoration: none;
  padding: 1px;
}
a:hover {
  text-decoration: underline;
}

/* Social links */
.halfcirc {
  display: inline-block;
  height: 128px;
  width: 64px;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%, 100% 50%);
}
.connections {
  float: right;
  text-align: right;
  vertical-align: middle;
}
.connections-list {
  display: inline;
  line-height: 1.5;
}
.connections-list a {
  border-radius: 16px;
  padding:2px;
  padding-left: 5px;
  margin: 4px;
  box-shadow: 0 0 4px black;
  color:white;
}
.connections-list a:hover {
  text-decoration: none;
}
.connection-label {
  font-family: Consolas;
  font-weight: normal;
  color: white;

  display: inline-block;
  max-width: 0;
  overflow:hidden;

  transition: max-width 0.4s ease-out;
}
.connections-list a:hover .connection-label {
  max-width: 64px;
  transition: max-width 0.3s ease-out;
}

code {
  display: inline-block;
  padding: 3px;

  border-radius: 4px;
  background-color: rgb(36, 15, 41);
  color: white;
  box-shadow: inset 0 0 2px white;

  max-width: 100%;
}

nav {
  text-align: center;
  margin-bottom: 32px;
  position: relative;
  margin-top: -8px;
}
nav a {
  font-size: 1.2em;
  
  display: inline;

  color: rgb(117, 63, 156);
  background-color: white;
  box-shadow: 0 0 4px black;

  position: relative;
  padding: 6px 8px 6px 8px;
  margin: 0 4px 0 4px;
  border-radius: 16px;

  z-index: 1;
}

@media only screen and (max-width: 600px) {
  nav a {
    display: block;
  }
}

/* Article stuff */
article {
  position: relative;

  top: -32px;

  width: 100%;

  padding: 12px;
  padding-top: 48px;

  background: lightgrey;

  box-shadow: 0 0 8px 0px black;

  border-radius: 8px;
}
/* Article title */
article h1 {
  color: rgb(134, 102, 177);
  font-weight: bold;
  font-size: 48px;
  text-shadow: 3px 3px black;
  text-align: center;
  margin:0;
}

.subtitle {
  text-align: center;
  margin: 0;
}

article h2 {
  font-weight: bold;
  font-size: 32px;
  margin-top: 16px;
  margin-bottom: 10px;
  margin-left: 8px;
}
article h3 {
  margin: 0px;
  margin-left: 8px;
  color:rgb(78, 78, 78);
}

article p {
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  line-height: 1.5;
  font-size: 1.1em;
  background-color: rgb(189, 189, 189);
}

article img {
  display: block;
  width: auto;
  max-height: 20em;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

article li {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Expandable region */
.expandable {
  border-radius: 16px;
  background-color: darkgray;
  background-size: cover;
  box-shadow: inset 0 0 6px black;

  padding: 8px;
  margin-bottom: 16px;
}

.expandable-toggle {
  cursor: pointer;
  user-select: none;
  text-align: left;
  margin: 0;
  color: rgb(214, 214, 214);
  text-shadow: 0 0 6px black;
}
.active, .expandable-toggle:hover {
  color: white;
}

.expandable-content {
  overflow: hidden;
  max-height: 0;

  margin-left: 8px;

  transition: max-height 0.2s ease-out;
}
.expandable-content img {
  display: inline;
  float: left;
  max-width: 50%;
}
/* Don't do the shading thing here */
.expandable-content p  {
  background: none !important;
}

article .footer {
  margin-top: 32px;
  text-align: center;
  color: darkgray;
}