.project-container {
	background-image: lightgrey;

	border-radius: 64px 24px 24px 64px;
	box-shadow: 0 0 2px 2px grey;

	display: flex;
	overflow: hidden;

	margin: 24px 8px;
}

.project-image-container {
    flex-basis: 100%;
	overflow: hidden;
}

.project-container video {
	display: block;
	width: auto;
	margin-left: auto;
	margin-right: auto;
    height: 350px;
    padding: 0;
}

.project-container img {
    height: 350px;
    padding: 0;
	max-height: 100%;
}

.project-details {
	margin-left: 2px;
	min-width: 60%;
	max-width: 60%;
}

.project-details h2 {
	margin-bottom: 2px;
	margin-top: 4px;
}
.project-details h3 {
	margin-left: 8px;
}

@media only screen and (max-width: 600px) {
    .project-container {
		flex-direction: column;
		border-radius: 64px 64px 12px 12px;
	}
	.project-details {
		max-width: 100%;
	}
}