#tag-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tag-container > input {
  display: none;
}

.tag-container > span {
  display: block;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-text-inverse);
  border-radius: 8px;
  cursor: pointer;
}

.tag-container:hover > span {
  background-color: #ccc;
}

input[type="checkbox"]:checked + span {
  background: var(--color-accent);
  color: var(--color-text);
}

.hidden {
  display: none;
}
