---
---
<!DOCTYPE html>
<html>

<head>
  <title>sciman.info - {{ page.title }}</title>
  <!-- Non social metatags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="theme-color" content="{{ page.bgcolor }}">

  <meta name="author" content="Sciman101">
  <meta name="description" content="{{ page.subtitle }}">

  <meta property="og:title" content="{{page.name}}" />
  <meta property="og:type" content="website" />
  <meta name="og:description" content="{{ page.subtitle }}">
  <meta property="og:url" content="{{page.url | absolute_url}}" />
  <meta property="og:image" content="{{ page.icon | absolute_url }}" />


  <!-- Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alatsi&display=swap" rel="stylesheet"> 
  <!-- Stylesheet -->
  <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
  <!-- Add icon library -->
  <script src="https://kit.fontawesome.com/ae9956b21b.js" crossorigin="anonymous"></script>
</head>

<body>

  <!-- Central column -->
  <div id='main'>

    <!-- Pill header -->
    <table id='header'>
      <tr>
        <!-- Icon -->
        <td><a title='Home' href='/'><img class='icon' alt='Site icon' src='/assets/img/icon.png'></a></td>
        <!-- Everything in the name area -->
        <td>
          <div class='name'>
            <div id='name-title'>Sciman101</div>
            <div id='name-subtitle'>Programmer and Artist</div>
            <div id='splash' title='Click for a new splash' onclick='randomizeSplash()'></div>
          </div>
        </td>
        <!-- Connections -->
        <td>
          <div class='connections'>
            <!-- <div class='halfcirc'></div> -->
            <div class='connections-list'>
              {% for item in site.data.connections %}
              <a class="{{ item.fa-icon }}" target="_blank" style="background-color: {{ item.color }}" href='{{ item.url }}'>
                <span class='connection-label'>
                  {{ item.name }}
                </span>
              </a>
              <br>
              {% endfor %}
            </div>
          </div>
        </td>
      </tr>
    </table>

    <!-- The actual page content -->
    <article>
      <!-- Add navigation -->
      {% include navigation.html %}

      {% assign preview = page.icon %}

      <link href="/assets/css/character.css" rel="stylesheet" type="text/css" />
      
      <h1>{{ page.name }}</h1>
      <h2 class='subtitle'>{{ page.subtitle }}</h2>
      
      <!--Stat block-->
      <ul class='stats'>
          <h3>Stats</h3>
          <li>{{ page.stat-height }}</li>
          <li>{{ page.stat-species }}</li>
          <li>{{ page.stat-age }} y/o</li>
          <br><hr>
          <li>Body: {{ page.stat-body }}/5</li>
          <li>Mind: {{ page.stat-mind }}/5</li>
          <li>Heart: {{ page.stat-heart }}/5</li>
      </ul>
      
      <!-- Image -->
      <img alt='{{page.name}}' src='{{page.img}}' style='filter:drop-shadow(4px 4px 0 black);'>
      
      {{ content }}

      <div class='footer'>
        Made with <a href='https://jekyllrb.com/'>Jekyll</a> and <a href='https://pages.github.com/'>GitHub Pages</a>.
        <a href='/'>Sciman101</a>, <span id='currYear'></span>
      </div>
    </article>
  </div>

  <script src="/assets/js/main.js"></script>
</body>

</html>
