<!DOCTYPE html>
<html>
  <head>
    <title>sciman.info - {{ page.title }}</title>
    <!-- Non social metatags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#750bff">

    <meta name="author" content="Yali Izzo">
    <meta name="description" content="Placeholder description">


    <!-- Stylesheet -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <!-- Central column -->
    <div id='main'>
      <!-- Header pill -->
      <div id='header'>
        <img class='icon' alt='Site icon' src='https://img.itch.zone/aW1nLzIzNjAwNTQucG5n/100x100%23/X0XNcT.png' onclick='randomizeSplash()'>
        <!-- Everything in the name area -->
        <div class='name'>
          <div id='name-title'>Yali Izzo</div>
          <div id='name-subtitle'>Artist and Gamedev</div>
          <div id='splash'></div>
        </div>

        <!-- Social links -->
        <div class='links'>
          <div class='halfcirc'></div>
          <p>
            Twitter<br>
            itch.io<br>
            GitHub<br>
            GitHub<br>
            GitHub<br>
            GitHub<br>
          </p>
        </div>
      </div>

      <!-- The actual page content -->
      <article>
        {{ content }}
        <div class='footer'><a href='/'>Yali Izzo</a> 2020</div>
      </article>
    </div>

    <script src="assets/js/main.js"></script>
  </body>
</html>